OWNER_EMAIL=??@icloud.com
CDN_API_KEY=sk_cdn_......
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=
HCA_REDIRECT_URI=
PORT=3000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_PUBLIC_URL=https://[bucket-name].s3.amazonaws.com