# deprecated, please use clerk public metadata instead
# OWNER_EMAIL=??@icloud.com
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_AUTHORIZED_PARTIES=http://localhost:3000
PORT=3000
# if you want to use AWS S3 with this, remove endpoint: at server.js:100 and fill out AWS_REGION below
# AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
AWS_S3_BUCKET=
AWS_S3_PUBLIC_URL=
